.icon-host {
  height: $icon-size;
  width: $icon-size;
}

.avatar-host {
  max-height: $avatar-max;
  max-width: $avatar-max;
}

a.hidden-light-link {
  color: $light;
  text-decoration: none;

  &:hover {
    color: $light - rgb(64, 64, 64);
  }
}

a.hidden-dark-link {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: $dark + rgb(64, 64, 64);
  }
}

.drop-dark-shadow {
  background: url("../../images/stylistics/top_dark_to_tran.png") repeat-x top;
}

.lift-dark-shadow {
  background: url("../../images/stylistics/bottom_tran_to_dark.png") repeat-x bottom;
}
