$colour-shade: rgb(16, 16, 16);

$footer-height: 12rem;
$footer-collapsed-height: 25rem;
$icon-size: 12rem;
$avatar-max: 19rem;

$dark-darker: $dark - $colour-shade;
$dark-lighter: $dark + $colour-shade;

$footer-color: color("gray-dark");
