$colour-shade: 6.25%;

$footer-height: 12rem;
$footer-collapsed-height: 28rem;
$contact-size: 8rem;
$icon-size: 12rem;
$avatar-max: 19rem;

$dark-darker: darken($dark, $colour-shade);
$dark-lighter: lighten($dark, $colour-shade);

$footer-color: color("gray-dark");

$unavailable-color: color("orange");
