{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.fa_banner(top_page.fa_type, top_page.fa_choice) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li class="btn btn-block btn-dark active">Blogs</li>
                </ul>
            </div>
            <div class="col-md-8">
                {% block admin_content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <hr class="mb-4"/>
{% endblock %}