{% extends "partials/layout.njk" %}

{% block navbar %}
    {% include "./main_navbar.njk" %}
{% endblock %}

{% block body %}
    <div class="column">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {% include "./main_footer.njk" %}
{% endblock %}
