{% import "../macros/navigation.njk" as forms %}

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
    <h3>M4Numbers</h3>
    <a href="#">Home</a>
    <a href="#">Blog</a>
    <a href="#">Videos</a>
    <a href="#">Coding</a>
    <a href="#">Anime</a>
    <a href="#">Manga</a>
</nav>

<a id="showLeftPush" class="navbar-open btn btn-primary" onclick="toggleMenu()">
    <i class="fa fa-bars fa-inverse fa-2x" style="vertical-align: middle"></i>
</a>
