<footer class="footer drop-dark-shadow bg-dark text-light pt-4">
    <div class="container row mx-auto">
        <section class="col-lg-3">
            <h3 class="h4">General Pages</h3>
            <ul class="list-unstyled">
                <li class="col-12"><a href="#">Contact Me</a></li>
                <li class="col-12"><a href="#">About Me</a></li>
            </ul>
        </section>
        <section class="col-lg-6">
            <h3 class="h4">Other Info</h3>
            <ul class="list-unstyled">
                <li class="col-12">Created by M4Numbers (&copy; 2014-2018)</li>
            </ul>
        </section>
        <section class="col-lg-3">
            <h3 class="h4">Site Info</h3>
            <ul class="list-unstyled">
                <li class="col-12"><a href="#">Admin</a></li>
                <li class="col-12"><a href="#">Site statistics</a></li>
                <li class="col-12"><a href="/map">Sitemap</a></li>
            </ul>
        </section>
    </div>
</footer>