<div class="jumbotron bg-light lift-dark-shadow no-gutters">
    <div class="container row">
        <div class="offset-md-1 col-md-4">
            <img src="{{ top_page.image_src }}" class="rounded-circle img-thumbnail avatar-host"
                 alt="{{ top_page.image_alt }}" />
        </div>
        <div class="col-md-7">
            <h1 class="display-3">{{ top_page.title }}</h1>
            <p>{{ top_page.tagline }}</p>
        </div>
    </div>
</div>