<div class="jumbotron bg-dark-lighter lift-dark-shadow no-gutters text-light">
    <div class="container row">
        <div class="offset-md-1 col-md-4">
            <div class="img-thumbnail rounded-circle icon-host mx-auto row text-dark">
                <div class="mx-auto my-auto">
                    <i class="{{ top_page.fa_type }} {{ top_page.fa_choice }} fa-7x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1 class="display-3">{{ top_page.title }}</h1>
            <p>{{ top_page.tagline }}</p>
        </div>
    </div>
</div>