{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true,

    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion":2018
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-console": "off"
  }
}
