{% extends "base_layouts/me_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block banner_tagline %}
    <p>
        {% for tag in top_page.blog_tags %}
            <span class="btn btn-light">{{ tag }}</span>
        {% endfor %}
    </p>
{% endblock %}

{% block me_content %}
    {{ content.blog_text | safe }}
{% endblock %}