main {
  padding-bottom: 10px;
}

.contact-host {
  height: $contact-size;
  width: $contact-size;
}

.icon-host {
  height: $icon-size;
  width: $icon-size;
}

.icon-host-width {
  width: $icon-size;
}

.avatar-host {
  max-height: $avatar-max;
  max-width: $avatar-max;
}

a.hidden-light-link {
  color: $light;
  text-decoration: none;

  &:hover {
    color: darken($light, 20%);
  }
}

a.hidden-dark-link {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: lighten($dark, 25%);
  }
}

.drop-dark-shadow {
  background: url("/assets/images/stylistics/top_dark_to_tran.png") repeat-x top;
}

.lift-dark-shadow {
  background: url("/assets/images/stylistics/bottom_tran_to_dark.png") repeat-x bottom;
}

.bg-dark-darker {
  background-color: $dark-darker;
}

.bg-dark-lighter {
  background-color: $dark-lighter;
}

.coming-soon {
  color: $unavailable-color;
}
