{% extends "base_layouts/column_base.njk" %}

{% block content %}
    <h1>Uh oh, something went wrong!</h1>
    <h2>{{ error.status }} - {{ error.message }}</h2>
    <pre>{{ error.stack }}</pre>
{% endblock %}
