{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.fa_banner(top_page.fa_type, top_page.fa_choice) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Query</h2>
                <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                    <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="q"
                           value="{{ search }}" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <hr class="clearfix" />
                <h3>Search result count</h3>
                <ul>
                    <li>Anime shows: {{ content.anime | length }}</li>
                    <li>Art pieces: {{ content.art | length }}</li>
                    <li>Blog posts: {{ content.blogs | length }}</li>
                    {% if content.kinks %}<li>Kinks: {{ content.kinks | length }}</li>{% endif %}
                    <li>Manga series: {{ content.manga | length }}</li>
                    <li>Stories: {{ content.stories | length }}</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Search results</h2>
                {{ c.search_contents("Art pieces", "/hobbies/art", content.art, translators.title) }}
                {{ c.search_contents("Anime", "/hobbies/anime", content.anime, translators.anilist) }}
                {{ c.search_contents("Blog posts", "/blog", content.blogs, translators.blogs) }}
                {% if content.kinks %}{{ c.search_contents("Kinks", "/hobbies/me/fetishes", content.kinks, translators.kinks) }}{% endif %}
                {{ c.search_contents("Manga", "/hobbies/manga", content.manga, translators.anilist) }}
                {{ c.search_contents("Stories", "/hobbies/writing", content.stories, translators.title) }}
            </div>
        </div>
    </div>
{% endblock %}
