{% extends "base_layouts/me_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block me_content %}
    <h2>{{ content.title }}</h2>
    {{ content.text | safe }}
{% endblock %}
