{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.fa_banner(top_page.fa_type, top_page.fa_choice) }}
{% endblock %}

{% block content %}
    <div class="container">
        <form class="login-box" method="post">
            <h2>What is my Full Name?</h2>
            <label for="mePassword" class="invisible">My Full Name</label>
            <input type="password" name="me_password" id="mePassword" class="form-control mb-3"
                   placeholder="My Full Name" />
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </form>
    </div>

    <hr class="mb-4"/>
{% endblock %}