{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>View Static Document</h2>
    <div class="static-document">
        <h3 class="mb-4">{{ content.static_id | replace("_", " ") | capitalize }}</h3>
        <form method="post" enctype="application/json" action="">
            <div class="map-entries" id="sitemap-collection">
                {% for map in content.static_detail %}
                    <div class="static-item mb4">
                        <label for="sitemap-page-name-{{ loop.index0 }}">Page name</label>
                        <input class="form-control" id="sitemap-page-name-{{ loop.index0 }}" name="sitemap-page[page_name[]]" value="{{ map.page_name }}" />
                        <label for="sitemap-page-link-{{ loop.index0 }}">Page link</label>
                        <input class="form-control" id="sitemap-page-link-{{ loop.index0 }}" name="sitemap-page[page_link[]]" value="{{ map.page_link }}" />
                    </div>
                {% endfor %}
            </div>
            <div class="admin-toolbar">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn btn-secondary" value="Add new map" onclick="addNewMapEntry()" />
                <a href="/admin/statics/{{ content.static_id }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <hr />

{% endblock %}
