{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>View Kinks</h2>
    {% for kink in content.kinks %}
        <div class="kink">
            <h3><a href="/admin/fetishes/{{ kink._id }}">{{ kink.kink_name }}</a></h3>
        </div>
        <hr />
    {% endfor %}

    <div class="admin-toolbar mb-4">
        <a class="btn btn-block btn-primary" href="/admin/fetishes/new" >Add New Kink</a>
    </div>
    {% include "partials/pagination.njk" %}
{% endblock %}