{% extends "master.twig" %}

{% block content %}
  <div class="column" >
    <h1>Sorry</h1>
    <p>
      The page that you are looking for could not be recognised. Please check, and try again. If you don't know
      where you went wrong, to go back to the home page, click <a href="./" >Here</a>.
    </p>
    <p>
      Alternatively, visit the <a href="./blog/">Blog</a> to see all the articles written on this site
      and manually search through them.
    </p>
  </div>
{% endblock %}