{% extends "master.twig" %}

{% block content %}
  <div class="column text-justify" >
    <h1>About Me</h1>
    <p>
      Put simply... I'm a gamer. I could end it there quite happily and that's that. You could
      stop here and I'd tell you that that is the same impression you'd walk away with after reading
      all of this.
    </p>
    <p>
      I can't remember the exact date in which I was introduced to gaming, but I think I can make a
      pretty accurate stab at the progression I had... Gamegear, to Playstation 2, to GBA, to SNES,
      to SEGA MegaDrive (or similar SEGA system), to a GameBoy DS, to Playstation 3, to Wii, to PC,
      to Playstation 4.
    </p>
    <p>
      Even though I was introduced to a computer a lot earlier than listed (I think that it was 2002 when I was
      introduced), I didn't start gaming on one properly until a lot later when I had money to burn and the PC
      gaming market really started flying with the introduction of direct downloading.
    </p>
    <p>
      And even then, that was quite late... I've only been on Steam since about July 2011.
    </p>
    <p>
      I'm sad to say that I'm one of those scumbags that prefer console gaming. I like the assurance that no-matter
      what game I get, it will run on this one box that I don't have to do anything with. However... that doesn't
      mean I hate PC gaming... I love it; I love the amount of games available at the snap of a finger at a much
      lower price than the console market.
    </p>
    <p>
      However, speaking as someone who doesn't have the money to burn on a dream computer that would give
      me the same assurance as consoles do, I like knowing that I will get an assurance that I can crank the
      graphics up to full-whack on a Playstation 4 without too much noticeable impact. Sadly, my laptop doesn't
      have quite the same capabilities.
    </p>
  </div>
{% endblock %}