{% extends "carousel.twig" %}

{% block content %}
  <div class="column text-justify">
    <h1>Welcome!</h1>
    <p>
      You have reached the home of M4Numbers. You may also know him by his jumble of l33t speak
      alias, M477h3w1012 (and if you do, I apologise).
    </p>
    <p>
      You might know me from such things as my Twitter feed, <a href="https://twitter.com/M4Numbers">@M4Numbers</a>,
      or from Twitch, over at <a href="https://twitch.tv/m477h3w1012">M477h3w1012</a>. But, equally speaking, you
      might be here because you watch my YouTube channel, <a href="https://youtube.com/c/M4NumbersUK">M4Numbers</a>,
      and you're wondering about that strange fellow with a British accent...
    </p>
    <p>
      If you are, look no further... Seriously, go away, I'm not interesting enough to warrant further investigation.
      But if you do insist on staying, this site should keep you ticking for a while with details on my various
      activities and exploits.
    </p>
    <p>
      I also have a blog... but it doesn't get updated very often. Which is probably for the better, since I ramble
      like a champion...
    </p>
    <p>
      Good Day.
    </p>
  </div>

  <div class="booster" ></div>

  <div class="dark" >
    <div class="container marketing" >
      <h2 class="text-center">The Site</h2>
      <p class="text-center">I do a few things, and this site is home to even fewer of them.</p>

      <hr />

      <div class="row">
        <div class="col-lg-4">
          <a href="videos" >
            <div class="icon_host img-circle center-block" >
              <i class="fa fa-youtube-play fa-5x" ></i>
            </div>
          </a>
          <h3>YouTube</h3>
          <p>
            I play games in my spare time and upload the videos to YouTube! Click here to see
            some of those videos.
          </p>
        </div>
        <div class="col-lg-4">
          <a href="./coding" >
            <div class="icon_host img-circle center-block" >
              <i class="fa fa-code fa-5x" ></i>
            </div>
          </a>
          <h3>Development</h3>
          <p>
            My main job/profession is as a coder/computer scientist. Clicking here will show you
            some of the things that I'm working on that I can talk about.
          </p>
        </div>
        <div class="col-lg-4">
          <a href="./anime" >
            <div class="icon_host img-circle center-block" >
              <i class="fa fa-tv fa-5x" ></i>
            </div>
          </a>
          <h3>Weeb</h3>
          <p>
            As a weeb, I partake in only the finest anime and manga... Click here to see some things
            that are probably not those fine things.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}