{% extends "master.twig" %}

{% block content %}
  <div class="cyni_box fl_rt twocol" >
    {% block journal %}{% endblock %}
  </div>

  <div class="cyni_box fl_lt twocol" >
    <h2>Recent Blog Posts</h2>
    {% if posts|length > 0 %}
      {% for post in posts %}
        <div class="wp_excerpt" >
          <h3>{{ post.title }}</h3>
          <p>{{ post.info }} <a href="{{ post.link }}" title="{{ post.title }}" >Read More</a></p>
        </div>
      {% endfor %}
    {% else %}
      <div class="wp_excerpt" >
        <h3>Sorry</h3>
        <p>
          Sorry, it seems that I've either died and my assets have finally been seized by
          the bankers, or you're simply looking at a blank page. I'll let you decide which.
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}