{% extends "master.twig" %}

{% block content %}
  <div class="column">
    <h1>Sitemap</h1>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="./">Index</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./about">About Me</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./admin">Admin</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./anime">Anime</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./blog/">Blog</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./contact">Contact Me</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./development">Development</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./stats">Statistics</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="./videos">Videos</a></li>
    </ul>
  </div>
{% endblock %}