{% extends "master.twig" %}

{% block content %}
  <div class="column">
    <h1>Statistics</h1>
    <p>
      There is nothing here at the moment. Possibly because there was
      never anything here to begin with, or because everything has gone
      and broken into a million pieces.
    </p>
    <p>
      I'll leave it up to you to decide that.
    </p>
  </div>
{% endblock %}