{% extends "master.twig" %}

{% block content %}
    <div class="column" >
        <div class="container">
            {% for b in blogs %}
                <div class="jumbotron">
                    <h1>
                        <a href="/test-blog/{{ b.blog_search }}">{{ b.blog_title }}</a>
                    </h1>
                    {{ b.blog_contents|raw }}
                    <p class="text-right">Posted at {{ b.blog_posted }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}