{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}
{% import "macros/navigation.njk" as nav %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block content %}
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded mb-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                <ul class="navbar-nav">
                    <li class="nav-item {{ nav.page_test("all", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=all">All</a>
                    </li>
                    <li class="nav-item {{ nav.page_test("seen", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=seen">Seen</a>
                    </li>
                    <li class="nav-item {{ nav.page_test("completed", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=completed">Completed</a>
                    </li>
                    <li class="nav-item {{ nav.page_test("watching", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=watching">Watching</a>
                    </li>
                    <li class="nav-item {{ nav.page_test("held", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=held">On hold</a>
                    </li>
                    <li class="nav-item {{ nav.page_test("dropped", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=dropped">Dropped</a>
                    </li>
                    <li class="nav-item {{ nav.page_test("planned", head.current_category, "active") }}">
                        <a class="nav-link" href="?category=planned">Planned</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% for show in content.shows %}
            {% if ((loop.index0 % 3) == 0) %}
                <div class="row">
            {% endif %}

            <div class="show-item col-lg-4">
                <a href="/hobbies/anime/{{ show._id }}">
                    <img class="small_cover img-thumbnail" src="{{ show.cover_img }}" alt="{{ show.title }}" />
                    <h2 class="anime_title">{{ show.title }}</h2>
                </a>
                <p class="anime_status">
                    {{ show.status }} <span class="float-right">Score: {{ show.score }}</span>
                </p>
            </div>

            {% if ((loop.index0 % 3) == 2) or (loop.last) %}
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        There is nothing here at the moment. That usually means that there will be at some point in
                        the future, but I promise nothing.
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 text-right">
                {% include "partials/pagination.njk" %}
            </div>
        </div>
    </div>
{% endblock %}