<script type="application/javascript" src="/assets/javascript/jquery.slim.min.js"></script>
<script type="application/javascript" src="/assets/javascript/popper.min.js"></script>
<script type="application/javascript" src="/assets/javascript/bootstrap.min.js" ></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<script type="application/javascript" src="/assets/javascript/main.js"></script>
<script type="application/javascript" src="/assets/javascript/admin.js"></script>
