{% extends "base_layouts/hobbies_base.njk" %}
{% import "macros/content.njk" as c %}
{% import "macros/navigation.njk" as nav %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block content %}
    <div class="container">

        {% for picture in content.pictures %}
            {% if ((loop.index0 % 3) == 0) %}
                <div class="row">
            {% endif %}

            <div class="art-item col-lg-4">
                <a href="/hobbies/art/{{ picture._id }}">
                    <img class="small_cover img-thumbnail" src="data:image/png;base64,{{ picture.image.thumb }}" alt="{{ picture.title }}" />
                    <h2 class="art_title">{{ picture.title }}</h2>
                </a>
            </div>

            {% if ((loop.index0 % 3) == 2) or (loop.last) %}
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        There is nothing here at the moment. That usually means that there will be at some point in
                        the future, but I promise nothing.
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 text-right">
                {% include "partials/pagination.njk" %}
            </div>
        </div>
    </div>
{% endblock %}
