{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}
{% import "macros/navigation.njk" as nav %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block content %}
    <div class="container">

        {% include "partials/manga_navbar.njk" %}

        {% for book in content.books %}
            {% if ((loop.index0 % 3) == 0) %}
                <div class="row">
            {% endif %}

            <div class="show-item col-lg-4">
                <a href="/hobbies/manga/{{ book._id }}">
                    <img class="small_cover img-thumbnail" src="{{ book.cover_img.large }}" alt="{{ book.title.romaji }}" />
                    <h2 class="manga_title">{{ book.title.romaji }}</h2>
                </a>
                <p class="manga_status">
                    {{ book.status }} <span class="float-right">Score: {{ book.score }}</span>
                </p>
            </div>

            {% if ((loop.index0 % 3) == 2) or (loop.last) %}
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        There is nothing here at the moment. That usually means that there will be at some point in
                        the future, but I promise nothing.
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 text-right">
                {% include "partials/pagination.njk" %}
            </div>
        </div>
    </div>
{% endblock %}