{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ content.title }}</h2>
        {{ content.text | markdown | safe }}
    </div>

    <hr class="mb-4"/>
{% endblock %}
