{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>Edit Blog Post</h2>
        <div class="blog-post">
            <form method="post" enctype="application/json" action="">
                <label for="blog-title">Blog Title</label>
                <input type="text" class="form-control" id="blog-title" name="blog-title" value="{{ content.blog.long_title }}" />
                <label for="blog-text">Blog Text</label>
                <textarea class="form-control" id="blog-text" name="blog-text">{{ content.blog.full_text }}</textarea>
                <p class="mb-4">
                    {% for tag in content.blog.tags %}
                        <span class="btn btn-dark">{{ tag }}</span>
                    {% endfor %}
                </p>
                <p class="mb-4">
                    <label for="blog-visible">Blog is publicly findable:</label>
                    <input id="blog-visible" name="blog-visible" type="checkbox" {{ "checked=\"checked\"" if content.blog.public }} value="Y" />
                </p>
                <div class="admin-toolbar">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <a href="/admin/blog/{{ content.blog._id }}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
        <hr />

{% endblock %}