{% extends "./../partials/generic.njk" %}

{% block body %}
<div id="splash" class="page splash-page">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-6 col-md-4 jumbotron">
                <h1>{{ title }}</h1>
                <p>Welcome to {{ title }} <i aria-hidden="true" class="fa fa-address-book"></i></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="auto_cen" style="width:50px;">
            <a class="btn btn-secondary btn-block rounded-circle" onclick="goto('#about')">
                <i class="fa fa-angle-down fa-2x"></i>
            </a>
        </div>
    </div>
</div>

<div id="about" class="page about-page">
    <div class="container-fluid">
        <div class="row justify-content-center dark">
            <div class="col-md-10">
                <h2>About Me</h2>
                <p>This is a box filled with stuff about me.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="auto_cen" style="width:50px">
            <a class="btn btn-secondary btn-block rounded-circle" onclick="goto('#blog')">
                <i class="fa fa-angle-down fa-2x"></i>
            </a>
        </div>
    </div>
</div>

<div id="blog" class="page blog-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
