{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.img_banner(top_page.image_src, top_page.image_alt) }}
{% endblock %}

{% block content %}
    <div class="container">
        {% for project in content.projects %}
            <div class="blog-item row">
                <div class="col-lg-12">
                    <h2 class="blog-title"><a href="/blog/{{ project._id }}" >{{ project.long_title }}</a></h2>
                </div>
                <div class="col-lg-6">
                    <p>Posted: {{ project.time_posted | date("Do MMMM YYYY") }}</p>
                    <p>Updated: {{ project.time_updated | date("Do MMMM YYYY") }}</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-right">
                        {% for tag in project.tags %}
                            <span class="btn btn-dark">{{ tag }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 text-right">
                {% include "partials/pagination.njk" %}
            </div>
        </div>
    </div>
{% endblock %}