{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.fa_banner(top_page.fa_type, top_page.fa_choice) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Query</h2>
                <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                    <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="q"
                           value="{{ search }}" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <hr class="clearfix" />
                <h3>Search result count</h3>
                <ul>
                    <li>Anime shows: 0</li>
                    <li>Art pieces: 0</li>
                    <li>Blog posts: 0</li>
                    <li>Manga series: 0</li>
                    <li>Stories: 0</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Search results</h2>
                {% for blog in content.results %}
                    <div class="search-item row">
                        <div class="col-lg-12">
                            <h2 class="blog-title"><a href="/blog/{{ blog._id }}" >{{ blog.long_title }}</a></h2>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Sorry, but your search returned nothing.
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-lg-12 text-right">
                        {% include "partials/pagination.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
