{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.fa_banner(top_page.fa_type, top_page.fa_choice) }}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Site links:</h2>
        <ul>
            <li><a href="/about">About me</a></li>
            <li><a href="/admin">Administrator Toolkit</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact me</a></li>
            <li><a href="/hobbies">Hobbies</a></li>
            <li><a href="/">Homepage</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </div>

    <hr class="mb-4"/>
{% endblock %}