{% extends "base_layouts/homepage_base.njk" %}

{% block top_page_banner %}
    {% include "partials/top_page_banner_fa.njk" %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Site links:</h2>
        <ul>
            <li><a href="/about">About me</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="/contact">Contact me</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </div>

    <hr class="mb-4"/>
{% endblock %}