{% extends "base_layouts/root_base.njk" %}

{% block root_content %}
    <div class="jumbotron bg-dark-lighter lift-dark-shadow no-gutters text-light">
        <div class="container row">
            <div class="offset-md-1 col-md-4">
                {% block banner_icon %}
                {% endblock %}
            </div>
            <div class="col-md-7">
                <h1 class="display-3">{{ top_page.title }}</h1>
                {% block banner_tagline %}
                    <p>{{ top_page.tagline }}</p>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
{% endblock %}
