{% extends "base_layouts/root_base.njk" %}

{% block root_content %}
    {% block top_page_banner %}
        {% include "partials/top_page_banner_img.njk" %}
    {% endblock %}

    {% block content %}
    {% endblock %}
{% endblock %}
