{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>Create Kink</h2>
    <div class="kink">
        <form method="post" enctype="application/json" action="">
            <label for="kink-name">Kink Name</label>
            <input type="text" class="form-control" id="kink-name" name="kink-name" value="{{ content.kink.kink_name }}"/>
            <label for="kink-description">Kink Description</label>
            <textarea class="form-control" id="kink-description" name="kink-description">{{ content.kink.kink_description }}</textarea>
            <label for="kink-status">Kink Status</label>
            <select class="form-control" id="kink-status" name="kink-status" >
                <option value="">Choose a status</option>
                <option {{ "selected=\"selected\"" if content.kink.practising_status == "PRACTISING" }} value="PRACTISING">Practising</option>
                <option {{ "selected=\"selected\"" if content.kink.practising_status == "RETIRED" }} value="RETIRED">Retired</option>
                <option {{ "selected=\"selected\"" if content.kink.practising_status == "FANTASISING" }} value="FANTASISING">Fantasising</option>
            </select>
            <label for="kink-experience">Kink Experience</label>
            <textarea class="form-control" id="kink-experience" name="kink-experience">{{ content.kink.personal_experience }}</textarea>
            <label for="kink-image">Kink Image</label>
            <input type="text" class="form-control" id="kink-image" name="kink-image" value="{{ content.kink.cover_img }}" />
            <label for="kink-tags">Kink Tags</label>
            <input type="text" class="form-control mb-4" id="kink-tags" name="kink-tags" value="{{ content.kink.tags }}" />
            <div class="admin-toolbar">
                <input type="submit" class="btn btn-primary" value="Save" />
                <a href="/admin/fetishes/{{ content.kink._id }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <hr />

{% endblock %}
