{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>View Art Pieces</h2>
    {% for picture in content.pictures %}
        <div class="art-piece">
            <h3><a href="/admin/art/{{ picture._id }}">{{ picture.title }}</a></h3>
        </div>
        <hr />
    {% endfor %}

    <div class="admin-toolbar mb-4">
        <a class="btn btn-block btn-primary" href="/admin/art/new" >Add New Art Piece</a>
    </div>
    {% include "partials/pagination.njk" %}
{% endblock %}
