{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>View Blog Post</h2>
    <div class="blog-post">
        <h3 class="mb-4">{{ content.blog.long_title }}</h3>
        <div class="mb-4">
            {{ content.blog.full_text | markdown | safe }}
        </div>
        <p class="mb-4">
            {% for tag in content.blog.tags %}
                <span class="btn btn-dark">{{ tag }}</span>
            {% endfor %}
        </p>
        <p class="mb-4">
            <label for="blog-visible">Blog is publicly findable:</label>
            <input id="blog-visible" type="checkbox" {{ "checked=\"checked\"" if content.blog.public }} disabled="disabled" />
        </p>
        <div class="admin-toolbar">
            <a href="/admin/blog/{{ content.blog._id }}/edit" class="btn btn-primary">Edit</a>
            <a href="/admin/blog/{{ content.blog._id }}/delete" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <hr />

{% endblock %}