{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>View Anime Shows</h2>
    {% for show in content.shows %}
        <div class="anime-show">
            <h3><a href="/admin/anime/{{ show._id }}">{{ show.title.romaji }}</a></h3>
        </div>
        <hr />
    {% endfor %}

    {#<div class="admin-toolbar mb-4">
        <a class="btn btn-block btn-primary" href="/admin/anime/new" >Add New Anime</a>
    </div>#}
    {% include "partials/pagination.njk" %}
{% endblock %}