{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>View Anime</h2>
    <div class="anime-show">
        <h3 class="mb-4">{{ content.show.title }}</h3>
        <div class="mb-4">
            {{ content.show_text | safe }}
        </div>
        <p class="mb-4">
            {% for tag in content.show.tags %}
                <span class="btn btn-dark">{{ tag }}</span>
            {% endfor %}
        </p>
        <div class="admin-toolbar">
            <a href="/admin/anime/{{ content.show._id }}/edit" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <hr />

{% endblock %}