{% extends "partials/admin_split.njk" %}

{% block admin_content %}
    <h2>Delete Blog Post</h2>
    <div class="blog-post">
        <h3 class="mb-4">{{ content.blog.long_title }}</h3>
        <div class="admin-toolbar">
            <form method="post" action="">
                <p class="alert-danger">Are you sure you want to delete this blog?</p>

                <input type="submit" class="btn btn-danger" value="Yes" />
                <a href="/admin/blog/{{ content.blog._id }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
    <hr />

{% endblock %}