html {
  background-color: /*#2A4585;*/
          #fff;
  /*width:1100px;*/

  margin: 0;
  padding: 0;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  font-size: 14pt;
  word-wrap: break-word;
}

.dark {
  background: #222;
  color: #FFF;
  padding: 20px 0;
}

.page {
  min-height: 100vh;
}

.clear {
  clear: both;
}

.no-edge-row {
  @extend .row;
  margin-right: 0;
  margin-left: 0;
}

.vertical-center {
  margin-top: 25%;
}

.icon-center {
  text-align: center;
  vertical-align: middle;
}

.circle-box-50px {
  border-radius: 25px;
}
