{% macro contact_option(name, icon_type, icon_name, locator) %}
    <a href="{{ locator }}" class="hidden-light-link">
        <div class="rounded-circle mx-auto img-thumbnail icon-host row bg-dark-darker">
            <div class="mx-auto my-auto">
                <i class="{{ icon_type }} {{ icon_name }} fa-7x"></i>
            </div>
        </div>
    </a>
    <h3 class="text-center">{{ name }}</h3>
{% endmacro %}

{% macro fa_banner(fa_type, fa_choice) %}
    <div class="img-thumbnail rounded-circle icon-host mx-auto row text-dark">
        <div class="mx-auto my-auto">
            <i class="{{ fa_type }} {{ fa_choice }} fa-7x"></i>
        </div>
    </div>
{% endmacro %}

{% macro img_banner(img_location, img_alt) %}
    <img src="{{ img_location }}" class="rounded-circle img-thumbnail icon-host"
         alt="{{ img_alt }}" />
{% endmacro %}

{% macro cover_banner(img_location, img_alt) %}
    <img src="{{ img_location }}" class="img-thumbnail icon-host-width" />
{% endmacro %}
